{% extends 'app/base.html' %}
{% block title %}Delete Address{% endblock %}

{% block main-content %}
  <div class="container block-main mb-5">
    <h3>Are you sure you want to delete this address?</h3>
    <p><strong>Name:</strong> {{ customer.name }}</p>
    <p><strong>Locality:</strong> {{ customer.locality }}</p>
    <p><strong>City:</strong> {{ customer.city }}</p>
    <p><strong>State:</strong> {{ customer.state }}</p>
    <p><strong>Pin Code:</strong> {{ customer.zipcode }}</p>
    <p><strong>Phone Number:</strong> {{ customer.phone_number }}</p>

    <form method="POST">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger">Delete Address</button>
      <a href="{% url 'address' %}" class="btn btn-secondary">Cancel</a>
    </form>
  </div>
{% endblock %}
