{% extends 'app/base.html' %}
{% load static %}

{% block title %}Change Password{% endblock title %}

{% block main-content %}
<div class="container block-main">
    <div class="row">
        <h3>Change Password</h3>
        <div class="col-sm-2 border-end">
            <ul class="list-unstyled">
                <li class="d-grid">
                    <a href="{% url 'profile' %}" class="btn btn-primary">Profile</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-9 offset-sm-1">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}  <!-- This will render the fields defined in your MypasswordChangeForm -->
                
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Change Password</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock main-content %}
