{% extends 'app/base.html' %}
{% block title %}Reset Password{% endblock title %}

{% block main-content %}
<div class="custom-container block-main bg-dark mb-5 w-100">
    <div class="custom-row ">
        <div class="custom-offset">
            <h3 class="custom-heading">Reset Password</h3>
            <hr>
            <form action="" method="post" novalidate class="custom-form">
                {% csrf_token %}
                <div class="custom-form-group">
                    <label for="email" class="form-label">Email Address</label>
                    <input type="email" class="custom-input" id="email" name="email" placeholder="Enter your email address" required>
                </div>
                <input type="submit" class="custom-button mt-4" value="Send Password Reset Link">
            </form>
            <div class="custom-text-center mt-3">
                <small>Remembered your password? 
                    <a href="{% url 'login' %}" class="custom-link text-danger">Login</a>
                </small>
            </div>
        </div>
    </div>
</div>
{% endblock main-content %}
