{% extends 'app/base.html' %}
{% block title %}Privacy Policy{% endblock title %}
{% block main-content %}
<div class="container block-main">
    <h2>Privacy Policy</h2>
    <p>At Burhani, we are committed to protecting your privacy. This Privacy Policy outlines how we collect, use, and safeguard your information when you visit our website and engage with our services.</p>

    <h3>Information We Collect</h3>
    <p>We may collect the following types of information:</p>
    <ul>
        <li><strong>Personal Information:</strong> Name, email address, phone number, and shipping address.</li>
        <li><strong>Payment Information:</strong> Credit/debit card details and other financial data.</li>
        <li><strong>Usage Data:</strong> Information on how you use our website and services, such as your IP address, browser type, and pages visited.</li>
    </ul>

    <h3>How We Use Your Information</h3>
    <p>Your information may be used in the following ways:</p>
    <ul>
        <li>To process your orders and manage your account.</li>
        <li>To communicate with you regarding your orders, inquiries, and customer service.</li>
        <li>To send periodic emails about your order or other products and services.</li>
        <li>To improve our website and services based on user feedback.</li>
    </ul>

    <h3>Data Security</h3>
    <p>We implement a variety of security measures to maintain the safety of your personal information. Your sensitive data is encrypted and transmitted securely. We strive to protect your information but cannot guarantee its absolute security.</p>

    <h3>Changes to This Privacy Policy</h3>
    <p>We may update our Privacy Policy from time to time. We will notify you about significant changes in the way we treat personal information by sending a notice to the primary email address specified in your account or by placing a prominent notice on our site.</p>

    <h3>Contact Us</h3>
    <p>If you have any questions about this Privacy Policy, please contact us at:</p>
    <p>Email: <a href="mailto:burhanuddinmoris52@gmail.com">burhanuddinmoris52@gmail.com</a></p>
</div>
{% endblock main-content %}
